<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/sign.css">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>회원가입</title>
</head>
<body>

<div class="form_border">
    <h2>회원가입</h2>
    <input type="email" class="base_input" id="sign_up_email" name="email">
    <input type="password"  class="base_input" id="sign_up_password" name="password">
    <button class="btn" id="sign_up_btn">회원가입</button>
    <a href="/sign-in" style="text-decoration: none">
        <p style="color: white; font-size: 0.8rem; text-align: right">이미 아이디가 있으신가요?</p>
    </a>
</div>

<script type="text/javascript">
    $("#sign_up_btn").click( function (event) {

            const jsonData = JSON.stringify({
                email: $('#sign_up_email').val(),
                password: $('#sign_up_password').val(),
            })

            const token = $("meta[name='_csrf']").attr("content");
            const header = $("meta[name='_csrf_header']").attr("content");

            $.ajax({
                url: "/sign-up",
                type: "POST",
                data: jsonData,
                contentType: "application/json",
                dataType: "json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function () {
                    alert("회원가입 성공");
                    location.href = '/';
                },
                error: function (arg) {
                    alert("회원가입 실패");
                }
            });

        }
    );
</script>

</body>
</html>