<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/sign.css">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>SingIn</title>
</head>
<body>

<form th:action="@{/sign-in}" method="post" class="form_border">
    <h2>로그인</h2>
    <input class="base_input" type="email" name="username" autofocus>
    <input class="base_input" type="password" name="password">
    <button id="sign_in_btn" class="btn" type="submit">로그인</button>
    <a href="/sign-up" style="text-decoration: none">
        <p style="color: white; font-size: 1rem; text-align: right">회원가입</p>
    </a>
</form>

</body>
</html>